{%include file='public/header_form' %}

<link href="__static__/css/plugins/summernote/summernote.css" rel="stylesheet">
<link href="__static__/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
<div class="space-20"></div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal m-t" id="postForm" method="post">
            <input type="hidden" name="annou_id" value="{%$annou_info.annou_id%}">
            <div class="form-group">
                <label class="col-sm-2 control-label">公告标题：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="subject" value="{%$annou_info.subject%}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"> 公告正文：</label>
                <div class="col-sm-9">
                    <textarea id="body" name="body"
                              style="display: none;">{%$annou_info.body%}</textarea>
                    <div id="summernote">
                        {%$annou_info.body%}
                    </div>
                </div>
            </div>

            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button class="btn btn-outline btn-info" type="submit" id="btnSubmit">
                        <i class="fa fa-check"></i> 保存
                    </button>
                    <a class="btn btn-outline btn-danger" id="btnCancel">
                        <i class="fa fa-times"></i> 取消
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="__static__/js/bootstrap.min.js"></script>
<script src="__static__/js/plugins/summernote/summernote.min.js"></script>
<script src="__static__/js/plugins/summernote/summernote-zh-CN.js"></script>
<script>
    $(function () {
        $('#summernote').summernote({
            lang: "zh-CN",
            height: 300,
            onImageUpload: function (files, editor, $editable) {
                uploadImg(files[0], editor, $editable);
            }
        });
    });

    function getFormOptions() {
        $("#body").val($('#summernote').code());
        var annou_id = "{%$annou_info.annou_id%}";
        return {url: annou_id ? "{%:url('Annou/edit')%}" : "{%:url('Annou/add')%}"};
    }

    function uploadImg(file, editor, $editable) {
        var formData = new FormData();
        formData.append('file', file);
        $.ajax({
            data: formData,
            type: "POST",
            url: "{%:url('common/upload')%}",
            dataType: "json",
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result.code == 1) {
                    editor.insertImage($editable, result.data.filePath);
                } else {
                    alert(result.msg);
                }
            }
        });

    }
</script>
