{%extend name='public/header' /%}
{%block name='head'%}
{__block__}
<link href="__static__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

<script src="__static__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__static__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__static__/js/indexpage.js"></script>
{%/block%}

{%block name='content_user'%}
{__block__}

<div>
    <table id="Table">
        <thead>
        <tr>
            <th data-field="tsg_code" data-sortable="true">预借分馆</th>
            <th data-field="title" data-formatter="titleOp" data-sortable="true">书名</th>
            <th data-field="barcode" data-sortable="true">图书条码</th>
            <th data-field="site_name" data-sortable="true">馆藏地址</th>
            <th data-field="lend_reser_status" data-formatter="stateFormatter" data-sortable="true">预借状态</th>
            <th data-field="lend_reser_time" data-sortable="true">预借日期</th>
            <th data-formatter="opFormatter" data-align="center">操作</th>
        </tr>
        </thead>
    </table>
</div>
{%/block%}

{%block name='js'%}
{__block__}

<script src="__static__/js/logic/opac/table.js" ></script>

<script>
    var source = 'lend_reser';
    var sort_name = 'lend_reser_time';

    /**
     * 格式"预订批次状态"列
     * @param value
     * @returns {string}
     */
    function stateFormatter(value) {
        switch (value) {
            case 1:
                return '<span class="label label-primary">预借中</span>';
            case 2:
                return '<span class="label label-danger">超时</span>';
            case 3:
                return '<span class="label label-default">取消预借</span>';
            case 4:
                return '<span class="label label-success">已取书</span>';
        }
    }

    /**
     * 格式化输出 "操作" 列
     * @param value
     * @param row
     * @param index
     * @returns {string}
     */
    function opFormatter(value, row, index) {
        if (row.lend_reser_status !== 1){
            return '-';
        }
        var btns = [];
        btns.push('<a href="javascript:void(0);" onclick="dropBtn(\'' + row.lend_reser_id + '\')" class="btn-sm text-danger"><i class="fa fa-times"></i> 取消预借 </a>');
        return btns.join("|");
    }

    // 取消预借
    function dropBtn(reser_id) {
        myConfirm("确定取消预借么？", 3, function () {
            $.post("{%:url('Book/dropLendReser')%}", {reserve_id: reser_id}, function (result) {
                if (result.code == 1) {
                    layer.msg(result.msg);
                    location.reload();
                } else {
                    layer.alert(result.msg, {icon: 2});
                }
            }, "json");
        });
    }





</script>


{%/block%}