<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>{%$web_title%}</title>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="__static__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__static__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__static__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__static__/css/animate.min.css" rel="stylesheet">
    <link href="__static__/css/style.min.css" rel="stylesheet">

    <script src="__static__/js/jquery.min.js"></script>
    <script src="__static__/js/bootstrap.min.js"></script>
    <script src="__static__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__static__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__static__/js/plugins/layer/layer.min.js"></script>
    <script src="__static__/js/laydate/laydate.js"></script>
    <script src="__static__/js/indexpage.js"></script>
    <style>
        table {
            table-layout: fixed !important;
        }
        #searchForm .form-control, #searchForm .btn{ margin-bottom: 5px; }
    </style>
</head>
