{%include file='public/header_list' %}

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <div role="group">
                                <form class="form-inline" onsubmit="return false;">
                                    <div class="form-group">
                                        <a href="javascript:void(0)" onclick="toEdit()"
                                           class="btn btn-outline btn-default" title="新增">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            新增
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="btn-group hidden-xs" id="Toolbar" role="group" style="margin-top: 10px;">
                                <form class="form-inline" id="searchForm" onsubmit="return false;">
                                    <div class="cl-sm-12 m-b">
                                        <div class="form-group">
                                            <select id="tsg_code" class="form-control">
                                                {%volist name="tsg_map" id="tsg"%}
                                                <option value="{%$tsg.tsg_code%}" {%$user_tsg==$tsg.tsg_code?'selected':''%}>{%$tsg.tsg_code%} | {%$tsg.tsg_name%}</option>
                                                {%/volist%}
                                            </select>
                                            <input class="form-control input-outline" id="role_code" type="text"
                                                   placeholder="角色代码">
                                            <input class="form-control input-outline" id="role_name" type="text"
                                                   placeholder="角色名称">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="searchBtn" class="btn btn-primary">查询</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <table id="Table">
                                <thead>
                                <tr>
                                    <th data-radio="true"></th>
                                    <th data-field="role_code" data-sortable="true">角色代码</th>
                                    <th data-field="role_name" data-sortable="true">角色名称</th>
                                    <th data-field="tsg_code" data-sortable="true">分馆代码</th>
                                    <th data-formatter="opFormatter" data-align="center">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        myBootstrapTable.initBootstrapTable("#Table", {
            url: "{%:url('Role/getJsonList')%}",
            sortName: 'order_num',
            sortOrder: 'asc',
            clickToSelect: true
        });
    });

    function toEdit(role_code) {
        var url = "{%:url('Role/add');%}";
        if (role_code) {
            url = "{%:url('Role/edit');%}?role_code=" + role_code + "&tsg_code=" + $("#tsg_code").val();
        }
        myOpen({
            type: 2,
            title: role_code ? "角色编辑" : "角色新增",
            /*area: ['auto', 'auto'],*/
            content: url
        });
    }

    function delData(role_code) {
        myConfirm("是否删除此操作员?", 0, function () {
            $.post("{%:url('Role/drop')%}", {role_code: role_code, tsg_code: $("#tsg_code").val()}, function (result) {
                if (result.code == 1) {
                    layer.alert(result.msg, {icon: 1}, function () {
                        location.reload();
                    });
                } else {
                    layer.alert(result.msg, {icon: 2});
                }
            }, "json");
        });
    }

    function opFormatter(value, row, index) {
        var btns = [];
        btns.push('<a href="javascript:void(0);" onclick="toEdit(\'' + row.role_code + '\')" class="btn-sm"><i class="fa fa-pencil"></i> 编辑 </a>');
        btns.push('<a href="javascript:void(0);" onclick="delData(\'' + row.role_code + '\')" class="btn-sm text-danger"><i class="fa fa-times"></i> 删除 </a>');
        return btns.join("|");
    }

</script>

</body>
</html>