{%include file='public/header_list' %}

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <div role="group">
                                <form class="form-inline" onsubmit="return false;">
                                    <div class="form-group">
                                        <a href="javascript:void(0)" onclick="toDelAll()"
                                           class="btn btn-outline btn-danger" title="删除本次命中数据">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            删除本次命中数据
                                        </a>
                                    </div>
                                    <div class="form-group">
                                        <a href="javascript:void(0)" onclick="toInit()"
                                           class="btn btn-outline btn-primary" title="初始化套录库">
                                            <i class="fa fa-cogs" aria-hidden="true"></i>
                                            初始化套录库
                                        </a>
                                    </div>
                                </form>
                            </div>

                            <div class="btn-group hidden-xs" id="Toolbar" role="group" style="margin-top: 10px;">
                                <form class="form-inline" id="searchForm" onsubmit="return false;">
                                    <div class="cl-sm-12 m-b">
                                        <div class="form-group">
                                            <input class="form-control input-outline" id="title" type="text"
                                                   placeholder="题名">
                                            <input class="form-control input-outline" id="isbn" type="text"
                                                   placeholder="ISBN">
                                            <input class="form-control input-outline" id="firstauthor" type="text"
                                                   placeholder="第一责任者">
                                            <input class="form-control input-outline" id="publisher" type="text"
                                                   placeholder="出版社">
                                            <input class="form-control input-outline" id="clc" type="text"
                                                   placeholder="分类号">
                                            <select class="form-control" id="op_user" name="op_user">
                                                <option value="">= 全部 =</option>
                                                {%volist name="op_user_list" id="user"%}
                                                <option value="{%$user.user_name%}">{%$user.user_name%}</option>
                                                {%/volist%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cl-sm-12 m-b">
                                        <div class="form-group">
                                            <input class="form-control input-outline" id="add_time_beg" type="text"
                                                   readonly placeholder="入库时间">
                                            <input class="form-control input-outline" id="add_time_end" type="text"
                                                   readonly placeholder="结束时间">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="searchBtn" class="btn btn-primary">搜索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table id="Table" data-row-style="fnSetStyle">
                                <thead>
                                <tr>
                                    <th data-radio="true"></th>
                                    <th data-field="book_share_id" data-visible="false">book_share_id</th>
                                    <th data-field="title" data-sortable="true">题名</th>
                                    <th data-field="isbn" data-sortable="true">ISBN</th>
                                    <th data-field="firstauthor" data-sortable="true">第一责任者</th>
                                    <th data-field="publisher" data-sortable="true">出版社</th>
                                    <th data-field="clc" data-sortable="true">分类号</th>
                                    <th data-field="op_user" data-sortable="true">入库人</th>
                                    <th data-field="add_time" data-sortable="true">入库时间</th>
                                    <th data-formatter="opFormatter" data-align="center">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        laydate.render({
            elem: '#add_time_beg' //指定元素
        });
        laydate.render({
            elem: '#add_time_end' //指定元素
        });

        myBootstrapTable.initBootstrapTable("#Table", {
            url: "{%:url('TaoluWh/getJsonList')%}",
            sortName: 'book_share_id',
            clickToSelect: true,
            onLoadSuccess: function (data) {
                if (data.code == 1) {
                    layer.alert(data.msg, {icon: 1}, function () {
                        location.reload();
                    });
                } else if (data.code == 0) {
                    layer.alert(data.msg, {icon: 2}, function () {
                        location.reload();
                    });
                }
            }
        });
    });

    function toShow(book_share_id) {
        myOpen({
            type: 2,
            title: "查看",
            /*area: ['auto', 'auto'],*/
            content: "{%:url('TaoluWh/marc_show')%}?book_share_id=" + book_share_id
        });
    }

    function toInit() {
        myConfirm("确认初始化套录库吗，本操作将清空本馆所有套录数据？", 0, function () {
            location.href = "{%:url('TaoluWh/initTaolu')%}";
        });
    }

    function toDelAll() {
        myConfirm("是否删除本次命中的所有数据？", 2, function () {
            var cur_url = $("#Table").bootstrapTable('getOptions').url;
            cur_url = cur_url.split('?');
            $("#Table").bootstrapTable('refreshOptions', {url: cur_url[0] + '?cmd=drop_query', random: Math.random()});
        });
    }

    function delData(book_share_id) {
        myConfirm("确定要删除该条数据吗？", 2, function () {
            $.post("{%:url('TaoluWh/drop')%}", {book_share_id: book_share_id}, function (result) {
                if (result.code == 1) {
                    layer.alert(result.msg, {icon: 1}, function () {
                        location.reload();
                    });
                } else {
                    layer.alert(result.msg, {icon: 2});
                }
            }, "json");
        });
    }

    function opFormatter(value, row, index) {
        var btns = [];
        btns.push('<a href="javascript:void(0);" onclick="toShow(\'' + row.book_share_id + '\')" class="btn-sm"><i class="fa fa-eye"></i> 查看 </a>');
        btns.push('<a href="javascript:void(0);" onclick="delData(\'' + row.book_share_id + '\')" class="btn-sm text-danger"><i class="fa fa-times"></i> 删除 </a>');
        return btns.join("|");
    }

</script>

</body>
</html>