{%include file='public/header_list' %}

<body class="gray-bg">
<link href="__static__/css/plugins/iCheck/custom.css" rel="stylesheet">
<script src="__static__/js/plugins/iCheck/icheck.min.js"></script>


<div class="wrapper wrapper-content animated fadeIn">
    <div class="row ">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>馆藏调拨</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                    <div class="col-sm-10">
                        <form action="javascript:void 0" class="form-horizontal" id="postForm" method="post">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="col-sm-3 control-label">图书条码</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="barcode" id="barcode" class="form-control" value="{%:input('barcode')%}">
                                    </div>

                                    <button type="submit" class="btn btn-primary" id="reg"> 调拨</button>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-4 control-label">馆藏来源馆:</label>
                                    <div class="col-sm-8">
                                        <select name="tsg_code_sour" id="tsg_code_sour" class="form-control">
                                            {%volist name='tsg_list_old' id='vo'%}
                                            <option value="{%$key%}">{%$key%}|{%$vo%}</option>
                                            {%/volist%}
                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-4 control-label">目标馆藏地址：</label>
                                    <div class="col-sm-6">
                                        <select name="tsg_site_code" id="tsg_site_code" class="form-control">
                                            {%volist name='tsg_site_map' id='vo'%}
                                            <option value="{%$key%}">{%$key%}|{%$vo%}</option>
                                            {%/volist%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-3">
                                    <div class="col-sm-6  i-checks">
                                        <label class="control-label">
                                            <input type="checkbox" name="is_confirm" id="is_confirm" class="form-control" value="1">
                                            调拨确认
                                        </label>
                                    </div>
                                    <div class="col-sm-6  i-checks">
                                        <label class="control-label">
                                            <input type="checkbox" name="only_self" id="only_self" class="form-control" value="1">
                                            只显示本馆馆藏
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-4 control-label">馆藏目标馆:</label>
                                    <div class="col-sm-8">
                                        <select name="tsg_code_dest" id="tsg_code_dest" class="form-control">
                                            {%volist name='tsg_list' id='vo'%}
                                            <option value="{%$key%}">{%$key%}|{%$vo%}</option>
                                            {%/volist%}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-4 control-label">目标流通类型：</label>
                                    <div class="col-sm-6">
                                        <select name="lt_type" id="lt_type" class="form-control">
                                            {%volist name='lt_type_list' id='vo'%}
                                            <option value="{%$key%}">{%$key%}|{%$vo%}</option>
                                            {%/volist%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>书目信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label">题名</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static" id="title">-</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label">ISBN</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static" id="isbn">-</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label">著者</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static" id="firstauthor">-</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label">出版社</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static" id="publisher">-</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label">出版时间</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static" id="pubdate">-</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="bookDckList" style="display: none">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>馆藏信息</h5>
                </div>
                <div class="ibox-content">
                    <table id="Table" data-row-style="fnSetStyle">
                        <thead>
                        <tr>
                            <th data-field="barcode" data-sortable="true">图书条码</th>
                            <th data-field="login_no" data-sortable="true">登录号</th>
                            <th data-field="calino" data-sortable="true">索书号</th>
                            <th data-field="status" data-formatter="statusOp" data-sortable="true">状态</th>
                            <th data-field="tsg_code" data-sortable="true">所属馆</th>
                            <th data-field="tsg_site_code" data-sortable="true">馆藏地址</th>
                            <th data-field="lt_type" data-sortable="true">流通类型</th>
                            <th data-field="price" data-sortable="true">单价</th>
                            <th data-field="check_batch" data-sortable="true">清点批次</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__static__/js/logic/cf/common_table_op.js"></script>
<script src="__static__/js/logic/status/status.js" ></script>
<script src="__static__/js/logic/dc/dcbat.js" ></script>
<script>

    $(function () {
        $('#reg').click(function () {
            var data = $('#postForm').serialize();
            var barcode = $('#barcode').val();
            var url = "{%:url('Dcbat/dispatch')%}?"+data;
            var is_confirm = $('#is_confirm:checked').val();

            if (is_confirm){
                myConfirm("确认调拨条码"+barcode+"吗?",3,function () {
                    options(url,"#barcode",3000);
                    layer.closeAll();
                });
                return false;
            }
            options(url,"#barcode",3000);
        });

        $('#reg').click(function () {



        });
    });

</script>
</body>