{%include file='public/header_form' %}

<div class="space-20"></div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal m-t" id="postForm" method="post">
            <input type="hidden" name="mt_id" value="{%$info.mt_id%}">

            <div class="form-group">
                <label class="col-sm-4 control-label"><span class="text-muted">*</span> MARC类型名称：</label>
                <div class="col-sm-5">
                    <input type="text" id="mt_code" name="mt_code" class="form-control" required value="{%$info.mt_code%}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"> 图书类型：</label>

                <div class="col-sm-5">
                    <select id="doctype_id" name="doctype_id" class="form-control">
                        {%volist name="dt_list" id="type"%}
                        <option value="{%$type.doctype_id%}" {%$type.doctype_id==$info.doctype_id?'selected':''%}>
                            {%$type.dt_name%}
                        </option>
                        {%/volist%}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"> 备注：</label>
                <div class="col-sm-5">
                    <input type="text" id="remark" name="remark" class="form-control" value="{%$info.remark%}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"> 排序：</label>
                <div class="col-sm-5">
                    <input type="text" id="sort_num" name="sort_num" class="form-control" value="{%$info.sort_num?:255%}">
                </div>
            </div>

            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button class="btn btn-outline btn-info" type="submit" id="btnSubmit">
                        <i class="fa fa-check"></i> 保存
                    </button>
                    <a class="btn btn-outline btn-danger" id="btnCancel">
                        <i class="fa fa-times"></i> 取消
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function getFormOptions() {
        var id = "{%$info.mt_id%}";
        return {url: id ? "{%:url('Marctype/edit')%}" : "{%:url('Marctype/add')%}"};
    }
</script>
</body>
</html>
