{%include file='public/header_list' %}

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <div role="group">
                                <form class="form-inline" onsubmit="return false;">
                                    <div class="form-group">
                                        <a href="javascript:void(0)" onclick="toEdit()"
                                           class="btn btn-outline btn-default" title="新增数据">
                                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                            新增
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="btn-group hidden-xs" id="Toolbar" role="group" style="margin-top: 10px;">
                                <form class="form-inline" id="searchForm" onsubmit="return false;">
                                    <div class="form-group">
                                        <input class="form-control input-outline" id="mt_code" type="text"
                                               placeholder="MARC类型名称">
                                        <input class="form-control input-outline" id="remark" type="text"
                                               placeholder="备注">
                                        <select class="form-control" id="doctype_id">
                                            <option value="">= 图书类型 =</option>
                                            <option value="1">图书</option>
                                            <option value="2">期刊</option>
                                            <option value="3">非书资料</option>
                                            <option value="4">其他文献</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="searchBtn" class="btn btn-primary">查询</button>
                                    </div>
                                </form>
                            </div>

                            <table id="Table">
                                <thead>
                                <tr>
                                    <th data-radio="true"></th>
                                    <th data-field="mt_code" data-sortable="true">MARC类型名称</th>
                                    <th data-field="doctype_id" data-sortable="true"
                                        data-formatter="doctypeIdFormatter">图书类型
                                    </th>
                                    <th data-field="remark" data-sortable="true">备注</th>
                                    <th data-field="sort_num" data-sortable="true">排序</th>
                                    <th data-formatter="opFormatter" data-align="center">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        myBootstrapTable.initBootstrapTable("#Table", {
            url: "{%:url('Marctype/getJsonList')%}",
            sortName: 'mt_id',
            sortOrder: "asc",
            clickToSelect: true,
        });
    });

    function toEdit(mt_id) {
        var url = "{%:url('Marctype/add');%}";
        if (mt_id)
            url = "{%:url('Marctype/edit');%}?mt_id=" + mt_id;

        myOpen({
            type: 2,
            title: mt_id ? "编辑数据" : "添加数据",
            /*area: ['auto', 'auto'],*/
            content: url
        });
    }

    function delData(mt_id) {
        myConfirm("确定要删除该条数据吗？", 2, function () {
            $.post("{%:url('Marctype/drop')%}", {mt_id: mt_id}, function (result) {
                if (result.code == 1) {
                    layer.alert(result.msg, {icon: 1}, function () {
                        location.reload();
                    });
                } else {
                    layer.alert(result.msg, {icon: 2});
                }
            }, "json");
        });
    }

    function opFormatter(value, row) {
        var btns = [];
        btns.push('<a href="javascript:void(0);" onclick="toEdit(\'' + row.mt_id + '\')" class="btn-sm"><i class="fa fa-pencil"></i> 编辑 </a>');
        btns.push('<a href="javascript:void(0);" onclick="delData(\'' + row.mt_id + '\')" class="btn-sm text-danger"><i class="fa fa-times"></i> 删除 </a>');
        return btns.join("|");
    }

    function doctypeIdFormatter(value) {
        switch (value) {
            case 1:
                return '图书';
            case 2:
                return '期刊';
            case 3:
                return '非书资料';
            case 4:
                return '其他文献';
        }
    }

</script>

</body>
</html>